############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.idea/
.vscode/
*.iml

############################
# Maven / Gradle
############################
**/target/
**/build/

############################
# Logs
############################
**/*.log

############################
# Env / Secrets
############################
.env
.env.*
application.yml
application.properties

############################
# Node (sau này nếu có FE)
############################
**/node_modules/
**/dist/
**/.next/

############################
# Docker
############################
**/.docker/