server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: identity_service
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    # show-sql: true
    # properties:
    #   hibernate:
    #     format_sql: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
      # ssl:
      #   enabled: true
      timeout: 30s
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      allow.auto.create.topics: true # Công dụng: Tự động tạo topic nếu chưa tồn tại

jwt:
  issuer: com.shibana.identity_service
  access:
    ttl: PT15M # Theo tiêu chuẩn ISO-8601: PT15M = 15 phút
    secret-key: ${JWT_ACCESS_SECRET_KEY} # Base64, >= 64B cho HS512
  refresh:
    ttl: P7D # Theo tiêu chuẩn ISO-8601: P7D = 7 ngày
    secret-key: ${JWT_REFRESH_SECRET_KEY} # Base64, >= 64B cho HS512

logging:
  level:
    org.springframework: INFO
    com.namudev.identity_service: DEBUG
    io.lettuce.core: INFO
    org.springframework.data.redis: INFO
    # org.hibernate.SQL: DEBUG
    # org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    # org.springframework.orm.jpa: DEBUG

google:
  oauth2:
    client_id: ${GOOGLE_OAUTH2_CLIENT_ID}
    client_secret: ${GOOGLE_OAUTH2_CLIENT_SECRET}
    redirect_uri: ${GOOGLE_OAUTH2_REDIRECT_URI}
    grant_type: authorization_code

infra:
  kafka:
    producer:
      name: identity-service
    topics:
      notification:
        welcome-email-requested: welcome-email-requested
