# =========================
# ? Server
# =========================
server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api/v1/identity

# =========================
# ? Spring
# =========================
spring:
  application:
    name: identity_service

  # =========================
  # ?? Database (MySQL)
  # =========================
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/identity_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:123123}

  # =========================
  # ? JPA / Hibernate
  # =========================
  jpa:
    hibernate:
      ddl-auto: update
    # show-sql: true
    # properties:
    #   hibernate:
    #     format_sql: true

  # =========================
  # ? Redis
  # =========================
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:default}
      password: ${REDIS_PASSWORD:}
      timeout: ${REDIS_TIMEOUT:30s}
      # ssl:
      #   enabled: true

# =========================
# ? JWT
# =========================
jwt:
  issuer: ${JWT_ISSUER:com.shibana.identity_service}

  access:
    ttl: ${JWT_ACCESS_TTL:PT15M}
    secret-key: ${JWT_ACCESS_SECRET}

  refresh:
    ttl: ${JWT_REFRESH_TTL:P7D}
    secret-key: ${JWT_REFRESH_SECRET}

# =========================
# ? Logging
# =========================
logging:
  level:
    org.springframework: INFO
    com.shibana.identity_service: DEBUG
    io.lettuce.core: INFO
    org.springframework.data.redis: INFO
    # org.hibernate.SQL: DEBUG
    # org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    # org.springframework.orm.jpa: DEBUG

# =========================
# ? Google OAuth2
# =========================
google:
  oauth2:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000/authenticate}
    grant-type: authorization_code