server:
  port: 8888
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            add-to-simple-url-handler-mapping: true
            corsConfigurations:
              '[/**]':
                allowedOrigins: http://localhost:3000
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true
          routes:
            - id: identity-service
              uri: http://localhost:8080
              predicates:
                - Path=${server.api-prefix}/identity/**
              filters:
                - StripPrefix=2

            - id: profile-service
              uri: http://localhost:8081
              predicates:
                - Path=${server.api-prefix}/profile/**
              filters:
                - StripPrefix=2

            - id: post-service
              uri: http://localhost:8083
              predicates:
                - Path=${server.api-prefix}/posts/**
              filters:
                - StripPrefix=2
            - id: media-service
              uri: http://localhost:8084
              predicates:
                - Path=${server.api-prefix}/media/**
              filters:
                - StripPrefix=2

service:
  identity:
    base-url: http://localhost:8080/identity
